*{
    padding: 0;
    margin: 0;
}

.backscreen{
    background: url(breakfast.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    height:75px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.logo{
    width: 140px;
    height:auto;
    padding-top: 1px;
    background-color: white;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 40px;
}


.navbar ul{
    float:right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 6px; 13px;
     font-family: 'Calisto MT' , serif;  
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: brown;
    border-radius: 2px;
}












